// -----------------------------------------------
// |||||||||||| Lists Variables Model ||||||||||||
// -----------------------------------------------
    

// -------------------------------------------------------
// |||||||||||| Specification Model ||||||||||||
// -------------------------------------------------------
    .menu-list {
        padding-left: 1rem;
        margin: auto;
    }

    .menu-list-order {
        padding-left: 1rem;
        margin: auto;
    }
