@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

// -----------------------------------------------
// |||||||||||| Variables Model ||||||||||||
// -----------------------------------------------

    // |||||||||||| -Title- ||||||||||||
        $font-title: 'Source Sans Pro', sans-serif;

        $font-title-size-1: 2.5rem;
        $font-title-size-2: 2.2rem;
        $font-title-size-3: 1.9rem;
        $font-title-size-4: 1.6rem;
        $font-title-size-5: 1.3rem;
        $font-title-size-6: 1rem;
        
        $font-title-weight: bloder;

    // |||||||||||| -Paragraph- ||||||||||||
        $font-paragraph: 'Merriweather', serif;

    // |||||||||||| -Font Default Values- ||||||||||||

        // ------------ _Color ------------
        $font-default-color: $colorText;

        // ------------ _Dimensions ------------
            $font-default-size: 1.1em;
            $font-default-weight: 300;
            $line-default-height: 1.7;

        // ------------ _Letter Spacing & margin ------------
            $letter-spacing-default: .025em;
            $margin-default: 0.5rem 0;

    // |||||||||||| -Links- ||||||||||||
        $link-color: $colorText;
        $background-link-color: none;
        $link-decoration: underline dotted;

        // ------------ _hover ------------
            $link-color-hover: $colorText;
            $background-link-color-hover: none;
            $link-decoration-hover: none;

    // |||||||||||| -Line Separator- ||||||||||||
        $hr-height: 2px;
        $hr-color: $colorNeutral;
        $hr-margin: 2em 0;

// -------------------------------------------------------
// |||||||||||| Specification Model ||||||||||||
// -------------------------------------------------------

    h1, .title1 {
        font-family: $font-title;
        font-size: $font-title-size-1;
        font-weight: $font-title-weight;
        line-height: $line-default-height;
        letter-spacing: $letter-spacing-default;
        margin: $margin-default;
    }
    h2, .title2 {
        font-family: $font-title;
        font-size: $font-title-size-2;
        font-weight: $font-title-weight;
        line-height: $line-default-height;
        letter-spacing: $letter-spacing-default;
        margin: $margin-default;
    }
    h3, .title3 {
        font-family: $font-title;
        font-size: $font-title-size-3;
        font-weight: $font-title-weight;
        line-height: $line-default-height;
        letter-spacing: $letter-spacing-default;
        margin: $margin-default;
    }
    h4, .title4 {
        font-family: $font-title;
        font-size: $font-title-size-4;
        font-weight: $font-title-weight;
        line-height: $line-default-height;
        letter-spacing: $letter-spacing-default;
        margin: $margin-default;
    }
    h5, .title5 {
        font-family: $font-title;
        font-size: $font-title-size-5;
        font-weight: $font-title-weight;
        line-height: $line-default-height;
        letter-spacing: $letter-spacing-default;
        margin: $margin-default;
    }
    h6, .title6 {
        font-family: $font-title;
        font-size: $font-title-size-6;
        font-weight: $font-title-weight;
        line-height: $line-default-height;
        letter-spacing: $letter-spacing-default;
        margin: $margin-default;
    }

    // ------------ Text Paragraphe ------------
        p, .txtParagraph {
            font-family: $font-paragraph;
            font-size: $font-default-size;
            color: $font-default-color;
            line-height: $line-default-height;
            font-weight: $font-default-weight;
            &.italic-paragraph {
                font-style: italic;
                font-size: 1em;
                margin: -.5rem 0 2rem;
            }
        }

    // ------------ Links ------------
        a, .link {
            color: $link-color;
            background: $background-link-color;
            text-decoration: $link-decoration;
            &:hover {
                color: $link-color-hover;
                background: $background-link-color-hover;
                text-decoration: $link-decoration-hover;
            }
        }
   
    // ------------ Line Separator ------------
        hr, .line-separator {
            height: $hr-height;
            color: $hr-color;
            margin: $hr-margin;
        }